<li id="user-<%= user.id %>">
  <%= link_to gravatar_for(user, size: 70), user %>
  <span class="user"><%= link_to user.name, user %></span>
  <%= render partial: 'follow_form', locals: { user: user } if logged_in? %>
</li>