<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render partial:'shared/user_info', locals: {user: @user} %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Followings (<%= @following_users.count %>)</h3>
    <ol class="following">
      <%= render @following_users %>
    </ol>
  </div>
</div>